<div class="event-img-fix">
    <%= image_tag  "play-index", class: "event-show-img" %>
    <p>遊び一覧</p>	
</div>

<div class="container-fluid bg-peachpuff">

    <!-- 上マージン -->
    <div class="m-150"></div>

    <div class="row mx-auto" style="width: 1100px;">
        <% @plays.each do |play| %>
            <div class="col-4">
                <div class="card mx-auto" style="max-width: 23rem;">
                    <!--カード上部にレイアウトされる画像: card-img-top -->
                    <!--画像はサンプルです。-->
                    <a href="/plays/<%= play.id %>"><%= attachment_image_tag play, :play_image, format: "jpg",class: "card-img-top",size:"190x290" %></a>
                    <!-- カード本文:card-body -->
                    <div class="card-body">
                        <!-- カード見出し:card-title -->
                        <h4 class="card-title"><%= play.play_title %></h4>
                        
                        <!-- カードの内容文:card-text -->
                        <p class="card-text mb-5"><%= play.play_explain %></p>

                        <!-- カードの副見出し:card-subtitle -->
                        <h6><%= "#" + play.category.category_name %></h6>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
    

    <!-- 下マージン -->
    <div class="m-300"></div>

</div>


