<div class="event-img-fix-black">
    <%= image_tag  "/images/play-detail.jpg", class: "event-show-img" %>
    <p class="menu-font">Play Detail</p>	
</div>

<div class="container-fluid bg-lemonchiffon">

    <!-- 上マージン -->
    <div class="m-150"></div>

    <!-- TOP画像 -->
    <!-- mx-auto d-block指定で、画像を中央揃えにすることができる。 -->
    <%= attachment_image_tag @play, :play_image, format: "jpeg", fallback: "/images/no_image.jpg", size: "800x400", class: "img-thumbnail mx-auto d-block mb-5" %>
    
    <!-- 見出し -->
    <div class="row">
        <!-- 左の余白 -->
        <div class="col-2"></div>

        <!-- 通し番号 -->
        <div class="col-1"><h1 class="headline-font"><%= @play.id %></h1></div>

        <!-- タイトル -->
        <div class="col-7"><h2 class="headline-font"><%= @play.play_title %><h2></div>

        <!-- 右の余白 -->
        <div class="col-2"></div>
    </div>

    <!-- 枠線 -->
    <!-- hrにbootstrapで中央揃えができなかったため、html構文で指定 -->
    <hr class="hr-play" align="center">

    

    <!-- 本文 -->
    <p class="x-250 y-50"><%= @play.play_explain %></p>

    <div class="h-120"></div>

    <!-- イベント一覧はあとで追加する。 -->
    <h1 class="text-center mb-5 headline-font">開催中イベント</h1>

    <div class="row mx-auto w-1000">
        <% @events.each do |event| %>
            <div class="col-4">
                <div class="card mx-auto mb-4" style="max-width: 20rem;">
                    <!--カード上部にレイアウトされる画像: card-img-top -->
                    <!--画像はサンプルです。-->
                    <a href="/events/<%= event.id %>"><%= attachment_image_tag event, :event_image, format: "jpg",class: "card-img-top",size:"190x290" %></a>
                    <!-- カード本文:card-body -->
                    <div class="card-body">
                        <!-- カード見出し:card-title -->
                        <h4 class="card-title headline-font"><%= event.event_title %></h4>
                        
                        <!-- カードの内容文:card-text -->
                        <p class="card-text mb-5"><%= event.event_explain %></p>
                    </div>
                </div>
            </div>

        <% end %>
    </div>

    <!-- 戻るボタン 一覧に戻す -->
    <!-- bootstrapのボタンはinline-blockのため、d-blockを書かないと、中央に寄らない -->
    <div class="mx-auto w-400 mt-5">
        <%= button_to "戻る", plays_path, class: "btn btn-danger btn-lg btn-block mx-auto d-block", method: :get %>
    </div>
    

    <!-- 下マージン -->
    <div class="m-300"></div>


</div>
