<div class="event-img-fix">
    <%= image_tag  "/images/administrator.jpg", class: "event-show-img" %>
    <p>管理者ページ</p>	
</div>

    
<div class="container-fluid bg-admin">

    <!-- 上部の余白 -->
    <div class="h-80"></div>

    <!-- mx-auto: センタリング -->
    <div style="width: 1000px;" class="mx-auto bg-admin-menu px-4 py-4 rounded">

        <!-- ログイン完了メッセージの場合、表示しない -->
        <% if flash[:notice] == "translation missing: ja.devise.sessions.user.signed_in" || flash[:notice] == "translation missing: ja.devise.registrations.user.signed_up"%>
        <% else %>
            <p class="mb-3"><%= flash[:notice] %></p>
        <% end %>

        <!-- タブ部分 -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <!-- 要素に属性:data-toggle="tab"を追加するだけで、Javascriptの記述なしでナビゲーションを有効化できる。 -->
            <li class="nav-item"><a class="nav-link active" id="play-tab" data-toggle="tab" href="#play" role="tab" aria-controls="play" aria-selected="true">遊び一覧</a></li>
            <li class="nav-item"><a class="nav-link" id="event-tab" data-toggle="tab" href="#event" role="tab" aria-controls="event" aria-selected="false">イベント一覧</a></li>
            <li class="nav-item"><a class="nav-link" id="user-tab" data-toggle="tab" href="#user" role="tab" aria-controls="user" aria-selected="false">ユーザー一覧</a></li>
        </ul>
        <!-- パネル部分 -->
        <!-- パネル部分には、tab-contentクラスをもったdivタグが必要 -->
        <div class="tab-content mt-5" id="myTabContent">

            <!-- パネルの要素にはtab-paneクラスを指定し、最初のタブには、active+showクラスを追加。パネルをフェードインさせるためにfadeクラスを追加している。 -->
            <!-- 遊び一覧のパネル -->
            <div class="tab-pane fade show active" id="play" role="tabpanel" aria-labelledby="play-tab">
                <h3>遊び一覧</h3>
                <p class="mb-3">遊び一覧のコンテンツが入ります。</p>

                <table class="table">
                    <thead>
                        <colgroup span="1" style="width:15%;">  <!-- 画像の列 -->
                        <colgroup span="1" style="width:20%;">  <!-- カテゴリの列 -->
                        <colgroup span="1" style="width:20%;">  <!-- 遊び名の列 -->
                        <colgroup span="1" style="width:30%;">  <!-- 説明の列 -->
                        <colgroup span="1" style="width:15%;">  <!-- ボタンの列 -->

                        <th></th>
                        <th>カテゴリ</th>
                        <th>遊び名</th>
                        <th>説明</th>
                        <th></th>
                    </div>
                        
                    </thead>
                    
                    <tbody>
                        <% @plays.each do |play| %>
                        
                            <tr>
                                <td><a href="<%= "/plays/admin/#{play.id}" %>"><%= attachment_image_tag play, :play_image, format: "jpeg", fallback: "/images/no_image.jpg", size: "100x100" %></a></td>
                                <!-- align-middle: セル内で上下方向中央揃えする。 -->
                                <td class="align-middle"><div class="d-flex align-items-center"><%= play.category.category_name %></div></td>
                                <td class="align-middle"><a href="<%= "/plays/admin/#{play.id}" %>"><%= play.play_title %></a></td>
                                <td class="align-middle"><%= play.play_explain %></td>
                                <td class="align-middle">
                                    <%= button_to "編集", admin_edit_play_path(play.id), class: "btn btn-outline-success btn-block mb-2", method: :get %>
                                    <%= button_to "削除", admin_destroy_play_path(play.id), class: "btn btn-outline-danger btn-block", method: :delete, "data-confirm" => "この遊びを削除します。よろしいでしょうか？" %>
                                </td>
                            </tr>
                            
                        <% end %>
                    </tbody>

                </table>



                <!-- button_to: buttonのヘルパー button_toは標準でpostで送られてしまうので、getに指定した。 -->
                <%= button_to "追加", admin_new_play_path, class: "btn btn-outline-primary w-200", method: :get %>
            </div>

            <!-- イベント一覧のパネル -->
            <div class="tab-pane fade" id="event" role="tabpanel" aria-labelledby="event-tab">
                <h3>イベント一覧</h3>
                <p class="mb-3">イベント一覧のコンテンツが入ります。</p>

                <table class="table">
                    <thead>
                        <colgroup span="1" style="width:15%;">  <!-- 画像の列 -->
                        <colgroup span="1" style="width:20%;">  <!-- イベントの列 -->
                        <colgroup span="1" style="width:20%;">  <!-- 遊びカテゴリ名の列 -->
                        <colgroup span="1" style="width:20%;">  <!-- 承認状況の列 -->
                        <colgroup span="1" style="width:15%;">  <!-- 催行人数の列 -->
                        <colgroup span="1" style="width:10%;"> <!-- 削除ボタンの列 -->

                        <th></th>
                        <th>イベント</th>
                        <th>遊びカテゴリ</th>
                        <th>承認状況</th>
                        <th>催行人数</th>
                        <th></th>
                    </div>
                        
                    </thead>
                    
                    <tbody>
                        <!-- 配列をループさせる変数を定義 -->
                        <% i = 0 %>
                        <% @events.each do |event| %>

                            
                        
                            <tr>
                                <td><a href="<%= "/events/admin/#{event.id}" %>"><%= attachment_image_tag event, :event_image, format: "jpeg", fallback: "/images/no_image.jpg", size: "100x100" %></a></td>
                                <!-- align-middle: セル内で上下方向中央揃えする。 -->
                                <td class="align-middle"><div class="d-flex align-items-center"><a href="<%= "/events/admin/#{event.id}" %>"><%= event.event_title %></a></div></td>
                                <td class="align-middle"><%= event.play.play_title %></a></td>
                                <td class="align-middle">
                                    <%= event.event_confirm_flg_convert %>
                                    <!-- 承認フラグの状態で表示させるボタンを変える -->
                                    <% if event.event_confirm_flg == nil %>
                                        <%= button_to "承認", admin_accept_event_path(event.id), class: "btn btn-outline-info mt-2", method: :patch, "data-confirm" => "このイベントを承認します。よろしいでしょうか？" %>
                                    <% else %>
                                        <% if event.event_confirm_flg == 0 %>
                                            <%= button_to "承認", admin_accept_event_path(event.id), class: "btn btn-outline-info mt-2", method: :patch, "data-confirm" => "このイベントを承認します。よろしいでしょうか？" %>
                                        <% else %>
                                            <%= button_to "承認取消", admin_rescission_event_path(event.id), class: "btn btn-outline-warning mt-2", method: :patch, "data-confirm" => "このイベントの承認を取り消します。よろしいでしょうか？" %>
                                        <% end %>
                                    <% end %>
                                    
                                </td>
                                <td class="align-middle"><%= @event_counts_array[i].to_s + "/" + event.event_people_min.to_s + "人" %></td>
                                <td class="align-middle">
                                    <%= button_to "削除", admin_destroy_event_path(event.id), class: "btn btn-outline-danger mt-2", method: :delete, "data-confirm" => "このイベントを削除します。よろしいでしょうか？" %>
                                </td>
                            </tr>

                            <!-- iをインクリメント -->
                            <% i = i + 1 %>
                            
                        <% end %>
                    </tbody>

                </table>
            </div>

            <!-- ユーザー一覧のパネル -->
            <div class="tab-pane fade" id="user" role="tabpanel" aria-labelledby="user-tab">
                <h3>ユーザー一覧</h3>
                <p class="mb-3">ユーザー一覧のコンテンツが入ります。</p>

                <table class="table">
                    <thead>
                        <colgroup span="1" style="width:15%;">  <!-- 画像の列 -->
                        <colgroup span="1" style="width:22%;">  <!-- ユーザー名の列 -->
                        <colgroup span="1" style="width:23%;">  <!-- ニックネームの列 -->
                        <colgroup span="1" style="width:20%;">  <!-- 退会状態の列 -->
                        <colgroup span="1" style="width:20%;">  <!-- ボタンの列 -->

                        <th></th>
                        <th>ユーザー名</th>
                        <th>ニックネーム</th>
                        <th>退会状態</th>
                        <th></th>
                    </div>
                        
                    </thead>
                    
                    <tbody>
                        <% @users.each do |user| %>
                        
                            <tr>
                                <td><a href="<%= "/users/admin/#{user.id}" %>"><%= attachment_image_tag user, :user_image, format: "jpeg", fallback: "/images/no_image.jpg", size: "100x100" %></a></td>
                                <!-- align-middle: セル内で上下方向中央揃えする。 -->
                                <td class="align-middle">
                                    <div class="align-middle">
                                        <a href="<%= "/users/admin/#{user.id}" %>"><%= user.name_kanji_sei + "　" + user.name_kanji_mei %></a><br>
                                        <%= user.name_kana_sei + "　" + user.name_kana_mei %>
                                    </div>
                                </td>
                                <td class="align-middle"><%= user.nickname %></a></td>
                                <td class="align-middle"><a class="text-danger"><%= user.resignation_flg_message %></a></td>
                                <td class="align-middle">
                                    <% if user.resignation_flg == nil %>
                                        <%= button_to "退会", user_path(user.id), class: "btn btn-outline-danger btn-block", method: :delete, "data-confirm" => "このユーザーを退会させます。よろしいでしょうか？" %>
                                    <% else %>
                                        <% if user.resignation_flg == 0 %>
                                            <%= button_to "退会", user_path(user.id), class: "btn btn-outline-danger btn-block", method: :delete, "data-confirm" => "このユーザーを退会させます。よろしいでしょうか？" %>
                                        <% else %>
                                            <%= button_to "退会取消", user_path(user.id), class: "btn btn-outline-info btn-block", method: :delete, "data-confirm" => "このユーザーの退会を取消します。よろしいでしょうか？" %>
                                        <% end %>
                                    <% end %>
                                    
                                </td>
                            </tr>
                            
                        <% end %>
                    </tbody>

                </table>

            </div>

        </div>
    </div>

    

    <!-- 下部の余白 -->
    <div style="height: 200px;"></div>

</div>
