<div class="event-img-fix">
    <%= image_tag  "/images/my-page.jpg", class: "event-show-img" %>
    <p>マイページ</p>	
</div>

<div class="container-fluid bg-user">
    <!-- 上方向の余白 -->
    <div class="h-40"></div>

    <!-- mx-auto: センタリング -->
    <div style="width: 1000px;" class="mx-auto">

        <!-- ログイン完了メッセージの場合、表示しない -->
        <% if flash[:notice] == "translation missing: ja.devise.sessions.user.signed_in" || flash[:notice] == "translation missing: ja.devise.registrations.user.signed_up" %>
        <% else %>
            <p class="mb-3"><%= flash[:notice] %></p>
        <% end %>

        <!-- タブ部分 -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <!-- 要素に属性:data-toggle="tab"を追加するだけで、Javascriptの記述なしでナビゲーションを有効化できる。 -->
            <li class="nav-item"><a class="nav-link active" id="user-tab" data-toggle="tab" href="#user" role="tab" aria-controls="user" aria-selected="true">登録情報</a></li>
            <li class="nav-item"><a class="nav-link" id="event-tab" data-toggle="tab" href="#event" role="tab" aria-controls="event" aria-selected="false">参加イベント</a></li>
            <li class="nav-item"><a class="nav-link" id="sponsor-tab" data-toggle="tab" href="#sponsor" role="tab" aria-controls="sponsor" aria-selected="false">主催イベント</a></li>
        </ul>
        <!-- パネル部分 -->
        <!-- パネル部分には、tab-contentクラスをもったdivタグが必要 -->
        <div class="tab-content mt-5" id="myTabContent">

            <!-- パネルの要素にはtab-paneクラスを指定し、最初のタブには、active+showクラスを追加。パネルをフェードインさせるためにfadeクラスを追加している。 -->
            <!-- ユーザー情報のパネル -->
            <div class="tab-pane fade show active" id="user" role="tabpanel" aria-labelledby="user-tab">
                <h3>会員登録情報</h3>
                <%= attachment_image_tag @user, :user_image, format: "jpeg", fallback: "/images/no_image.jpg",class: "user-img mx-auto d-block" %>
                <hr>

                <div class="row">
                    <!-- 左の余白 -->
                    <div class="col-1"></div>
                    <div class="col-4"><a>名前（漢字）</a></div>
                    <div class="col-6"><p><%= @user.name_kanji_sei + "　" + @user.name_kanji_mei %></p></div>
                    <!-- 右の余白 -->
                    <div class="col-1"></div>
                </div>
                <hr>

                <div class="row">
                    <!-- 左の余白 -->
                    <div class="col-1"></div>
                    <div class="col-4"><a>名前（カナ）</a></div>
                    <div class="col-6"><a><%= @user.name_kana_sei + "　" + @user.name_kana_mei %></a></div>
                    <!-- 右の余白 -->
                    <div class="col-1"></div>
                </div>
                <hr>

                <div class="row">
                    <!-- 左の余白 -->
                    <div class="col-1"></div>
                    <div class="col-4"><a>ニックネーム</a></div>
                    <div class="col-6"><%= @user.nickname %></div>
                    <!-- 右の余白 -->
                    <div class="col-1"></div>
                </div>
                <hr>

                <div class="row">
                    <!-- 左の余白 -->
                    <div class="col-1"></div>
                    <div class="col-4"><a>メールアドレス</a></div>
                    <div class="col-6"><%= @user.email %></div>
                    <!-- 右の余白 -->
                    <div class="col-1"></div>
                </div>
                <hr>

                <div class="row">
                    <!-- 左の余白 -->
                    <div class="col-1"></div>
                    <div class="col-4"><a>パスワード</a></div>
                    <div class="col-6">********</div>
                    <!-- 右の余白 -->
                    <div class="col-1"></div>
                </div>
                <hr>

                <div class="row">
                    <!-- 左の余白 -->
                    <div class="col-1"></div>
                    <div class="col-4"><a>電話番号</a></div>
                    <div class="col-6"><%= @user.phone_number %></div>
                    <!-- 右の余白 -->
                    <div class="col-1"></div>
                </div>
                <hr>

                <div class="row">
                    <!-- 左の余白 -->
                    <div class="col-1"></div>
                    <div class="col-4"><a>支払い方法</a></div>
                    <div class="col-6">
                        <!-- 銀行口座の場合 -->
                        <% if @user.payment_method == 0 %>
                            銀行口座
                        <!-- カードの場合 -->
                        <% else %>
                            クレジットカード
                        <% end %>
                    
                    </div>
                    <!-- 右の余白 -->
                    <div class="col-1"></div>
                </div>
                <hr>

                <div class="row">
                    <!-- 左の余白 -->
                    <div class="col-1"></div>
                    <div class="col-4"><a>プロフィール</a></div>
                    <div class="col-6"><%= @user.user_profile %></div>
                    <!-- 右の余白 -->
                    <div class="col-1"></div>
                </div>
                <hr class="mb-5">

                <div class="d-flex justify-content-around">
                    <%= button_to "編集", edit_user_path, class: "btn btn-outline-primary btn-lg w-200", method: :get %>
                    <%= button_to "退会", user_path, class: "btn btn-outline-danger btn-lg w-200", method: :delete, "data-confirm" => "退会します。よろしいでしょうか？" %>
                </div>
                
                
                
                <!-- button_to: buttonのヘルパー button_toは標準でpostで送られてしまうので、getに指定した。 -->
                <%#= button_to "追加", admin_new_play_path, class: "btn btn-primary rounded-pill", method: :get %>
            </div>

            <!-- 参加イベント一覧のパネル -->
            <div class="tab-pane fade" id="event" role="tabpanel" aria-labelledby="event-tab">
                <h3 class="mb-5">参加イベント</h3>
                
                <!-- カード部分 -->
                <div class="row mx-auto w-800">
                    <% @event_joins.each do |event_join| %>
                        <div class="col-4">
                            <div class="card mx-auto mb-4" style="max-width: 20rem;">
                                <!--カード上部にレイアウトされる画像: card-img-top -->
                                <!--画像はサンプルです。-->
                                <a href="/events/<%= event_join.event.id %>"><%= attachment_image_tag event_join.event, :event_image, format: "jpg",class: "card-img-top",size:"200x200" %></a>
                                <!-- カード本文:card-body -->
                                <div class="card-body">
                                    <!-- カード見出し:card-title -->
                                    <h5 class="card-title"><%= event_join.event.event_title %></h5>
                                    
                                    <!-- カードの内容文:card-text -->
                                    <p class="card-text mb-5">
                                        
                                        <p class="mb-3">開催期間</p>
                                        <p><%= event_join.event.event_hold_start_time.strftime("%Y月%m月%d日(#{%w(日 月 火 水 木 金 土)[event_join.event.event_hold_start_time.wday]})%H:%M") %></p>
                                        <p class="text-center">〜</p>
                                        <p class="mb-3"><%= event_join.event.event_hold_finish_time.strftime("%Y月%m月%d日(#{%w(日 月 火 水 木 金 土)[event_join.event.event_hold_finish_time.wday]})%H:%M") %></p>
                                        <p class="mb-3"><%= event_join.event.event_explain %></p>

                                        <!-- button_to: buttonのヘルパー button_toは標準でpostで送られてしまうので、getに指定した。 -->
                                        <%= button_to "キャンセル", cansel_event_path(event_join.event.id), class: "btn btn-danger mx-auto d-block w-200", method: :delete, "data-confirm" => "イベント参加をキャンセルします。よろしいでしょうか？" %>

                                    </p>

                                </div>
                            </div>
                        </div>
                    <% end %>
                </div>

            </div>

            <!-- 主催イベントのパネル -->
            <div class="tab-pane fade" id="sponsor" role="tabpanel" aria-labelledby="sponsor-tab">
                <h3 class="mb-5">主催イベント</h3>

                <!-- カード部分 -->
                <div class="row mx-auto w-800">

                <!-- 参加人数を格納する変数 -->
                <% i = 0 %>
                    <% @events.each do |event| %>

                    
                        <div class="col-4">
                            <div class="card mx-auto mb-4" style="max-width: 20rem;">
                                <!--カード上部にレイアウトされる画像: card-img-top -->
                                <!--画像はサンプルです。-->
                                <a href="/events/<%= event.id %>"><%= attachment_image_tag event, :event_image, format: "jpg",class: "card-img-top",size:"200x200" %></a>
                                <!-- カード本文:card-body -->
                                <div class="card-body">
                                    <!-- カード見出し:card-title -->
                                    <h5 class="card-title"><%= event.event_title %></h5>

                                    <!-- 承認フラグの状態を画面上にバッジで表示する。 -->
                                    <% if event.event_confirm_flg == 1 %>
                                        <p><span class="badge badge-pill badge-success">承認済み</span></p>
                                    <% else %>
                                        <p><span class="badge badge-pill badge-warning">未承認</span></p>
                                    <% end %>
                                    
                                    
                                    <!-- カードの内容文:card-text -->
                                    <p class="card-text mb-5">
                                        
                                        <p class="mb-3">開催期間</p>
                                        <p><%= event.event_hold_start_time.strftime("%Y月%m月%d日(#{%w(日 月 火 水 木 金 土)[event.event_hold_start_time.wday]})%H:%M") %></p>
                                        <p class="text-center">〜</p>
                                        <p class="mb-5"><%= event.event_hold_finish_time.strftime("%Y月%m月%d日(#{%w(日 月 火 水 木 金 土)[event.event_hold_finish_time.wday]})%H:%M") %></p>
                                        
                                        <p class="mb-3">現在参加者</p>
                                        <p class="mb-5"><%= @event_counts_array[i].to_s + "/" + event.event_people_min.to_s + "人"%></p>
                                        <%= link_to "編集", edit_event_path(event.id), class: "btn btn-outline-success mx-auto d-block w-200 mb-3", method: :get %>
                                        <!-- button_to: buttonのヘルパー button_toは標準でpostで送られてしまうので、getに指定した。 -->
                                        <%= link_to "イベント削除", event_path(event.id), class: "btn btn-outline-danger mx-auto d-block w-200", method: :delete, "data-confirm" => "イベントを削除します。よろしいでしょうか？" %>

                                    </p>

                                </div>
                            </div>
                        </div>
                        <!-- 参加人数を表示する処理に使う -->
                        <% i = i + 1 %>
                    <% end %>
                </div>

                <!-- 表とボタンのマージン -->
                <div class="h-40"></div>

                <!-- button_to: buttonのヘルパー button_toは標準でpostで送られてしまうので、getに指定した。 -->
                <%= button_to "新規作成", new_event_path, class: "btn btn-outline-primary rounded-pill w-200", method: :get %>
            </div>

        </div>
    </div>

    <!-- 下方向の余白 -->
    <div class="h-200"></div>
</div>


