<!DOCTYPE html>
<html>
  <head>
    <title>HomoLudensNw</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- トップ画面のヘッダーは背景透過なので、処理を分ける -->
    <% if @top_flg != nil %>
      <%= yield %>
    <% else %>
      <!-- 部分テンプレート読んでみる "_header.html.erb"が呼ばれる -->
      <%= render 'layouts/header' %>
      <%= yield %>
    <% end %>
    

    <!-- フッター -->
    <div class="container-fluid">
      <div style="height: 50px;" class="d-flex align-items-center justify-content-end bg-dark">
        <p class="text-white text-right mr-4">©️Homo ludens network All Rights Reserved.</p>
      </div>
    </div>

  </body>
</html>
