<!DOCTYPE html>
<html>
  <head>
    <title>HomoLudensNw</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Kosugi+Maru|Noto+Serif+JP:600|Satisfy&display=swap" rel="stylesheet">
  </head>

  <body>
    <!-- メニュ-用 -->
    <div id="search-menu">
      <!-- 部分テンプレート読んでみる "_header.html.erb"が呼ばれる -->
      <!-- 部分テンプレートは@変数を使えないので読み替えして渡す -->
      <%= render 'layouts/search-menu', find_params: @find_params %>
    </div>

    <!-- トップ画面のヘッダーは背景透過なので、処理を分ける -->
    <% if @top_flg != nil %>
      <%= yield %>
    <% else %>
      <!-- 部分テンプレート読んでみる "_header.html.erb"が呼ばれる -->
      <%= render 'layouts/header' %>
      <%= yield %>
    <% end %>
    

    <!-- フッター -->
    <div style="height: 50px;" class="d-flex align-items-center justify-content-end bg-black">
      <p class="text-white text-right mr-4">©️Homo ludens network All Rights Reserved.</p>
    </div>

  </body>
</html>
